* {
    box-sizing: border-box;
}

.columns {
    width: 370px;
    display: block;
    list-style-type: none;
    border: 1px solid rgb(226, 225, 225);
    box-shadow:1px 1px 1px rgb(234, 233, 233);
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
}

.text-center {
    text-align: center;
    font-family: 'PT Serif';
    font-style: normal;
}
.text-color {
    color: #C9A96E;
    text-align: center;
    font-family:'Lucida Sans';
    text-transform: uppercase;
    font-style: normal;
    font-size: 12px; 
}